.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.item p {
  margin: 6px 10px;
  font-size: 16px;
  color: #171717;
}

.item-price {
  display: flex;
  gap: 15px;
  margin: 10px 10px;
}

.item-price .new-price {
  color: #374151;
  font-size: 18px;
  font-weight: 600;
}

.item-price .old-price {
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 500;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.05);
}

.item img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@media screen and (max-width: 480px) {
  .item {
    gap: 3px;
  }
  .item-price {
    flex-direction: column;
    gap: 5px;
  }
  .item p {
    margin: 6px;
    font-size: 10px;
    line-height: 1.4;
  }
  .item-price .new-price,
  .item-price .old-price {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .item-price {
    flex-direction: column;
    gap: 5px;
  }

  .item p {
    font-size: 14px;
  }

  .item-price .new-price,
  .item-price .old-price {
    font-size: 16px;
  }
}
