.contact-page {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: #f8f9fa;
}

.contact-header {
  margin-top: 30px;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 40px;
}

.contact-header h1 {
  font-weight: 600;
  color: #222;
}

.contact-header p {
  color: #666;
}

.contact-container {
  display: flex;
}

.contact-form {
  flex: 1;
}

.contact-form h2 {
  color: #222;
}

.form-group label {
  display: block;
  font-weight: 500;
}

.form-group input,
.form-group textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  width: 90%;
  padding: 12px;
  background: #ff4141;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.contact-details {
  flex: 1;
  line-height: 1.5;
}

.contact-details h2 {
  margin-bottom: 20px;
}

.contact-details p {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #555;
}

.contact-details svg {
  color: #ff4141;
}

.map-container {
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .contact-page {
    padding: 50px 0px;
  }

  .contact-header {
    line-height: 1.5;
  }

  .contact-header h1 {
    font-size: 22px;
  }

  .contact-header p {
    font-size: 12px;
  }

  .contact-container {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 50px 30px;
   
  }

  .contact-form {
    padding-right: 0px;
  }

  .contact-form h2 {
    font-size: 18px;
  }

  .form-group {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .form-group label {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 13px;
  }

  .contact-form button {
    font-size: 14px;
  }

  .contact-details h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .contact-details p {
    font-size: 14px;
  }

  .contact-details svg {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .contact-page {
    padding: 50px 100px;
  }

  .contact-header h1 {
    font-size: 28px;
  }

  .contact-header p {
    font-size: 15px;
  }

  .contact-container {
    gap: 70px;
  }

  .contact-form h2 {
    font-size: 20px;
  }

  .form-group {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .form-group label {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 14px;
  }

  .contact-form button {
    font-size: 15px;
  }

  .contact-details h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .contact-details p {
    font-size: 16px;
  }

  .contact-details svg {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .contact-page {
    padding: 50px 250px;
  }

  .contact-header {
    line-height: 1.5;
  }

  .contact-header h1 {
    font-size: 30px;
  }

  .contact-header p {
    font-size: 16px;
  }

  .contact-container {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    margin-left: 25px;
  }

  .contact-form h2 {
    font-size: 20px;
  }

  .form-group {
    margin-top: 30px;
    margin-bottom: 18px;
  }

  .form-group label {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 15px;
  }

  .contact-form button {
    font-size: 15px;
  }

  .contact-details h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .contact-details p {
    font-size: 17px;
  }

  .contact-details svg {
    font-size: 17px;
  }
}
