.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fce3fe;
  padding: 100px;
}

.sg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sg-container h1 {
  margin: 0 0 30px 0;
  font-weight: 600;
  color: #333;
}

.sg-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.input-field label {
  font-weight: 500;
  color: #5c5c5c;
  margin-bottom: 5px;
}

.sg-fields input {
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  border-radius: 4px;
}

.sg-fields input:focus {
  border-color: #ff4141;
}

.sg-container button {
  background: #ff4141;
  color: white;
  border-radius: 50px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
}

.sg-container button:hover {
  background: #e03a3a;
}

.login {
  margin-top: 10px;
  color: #5c5c5c;
}

.login span {
  color: #ff4141;
  font-weight: 600;
  cursor: pointer;
}

.agree {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  color: #5c5c5c;
  font-size: 16px;
}
.agree label {
  color: #5c5c5c;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .sg-container {
    min-width: 300px;
    padding: 20px 10px;
   
  }

  .sg-container h1 {
    margin-top: 10px;
    font-size: 15px;
  }

  .sg-fields {
    width: 80%;
  }

  .input-field {
    width: 95%;
  }

  .input-field label {
    font-size: 10px;
  }

  .sg-fields input {
    height: 30px;
    padding: 0 15px;
    font-size: 10px;
  }

  .sg-container button {
    margin: 10px auto;
    height: 30px;
    font-size: 10px;
    width: 60%;
  }

  .login {
    font-size: 10px;
  }

  .agree input {
    width: 15px;
    height: 10px;
  }

  .agree label {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  .sg-container {
    max-width: 400px;
    padding: 35px;
  }

  .sg-container h1 {
    font-size: 28px;
  }

  .sg-fields {
    width: 98%;
  }

  .input-field {
    width: 96%;
  }

  .input-field label {
    font-size: 15px;
  }

  .sg-fields input {
    height: 45px;
    padding: 0 15px;
    font-size: 13px;
  }

  .sg-container button {
    height: 45px;
    font-size: 17px;
    width: 96%;
  }

  .login {
    margin-top: 20px;
    font-size: 15px;
  }
  .agree{
    gap: 10px;
  }

  .agree input {
    width: 20px;
    height: 18px;
  }

  .agree label {
    font-size: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .sg-container {
    max-width: 420px;
    padding: 40px;
  }

  .sg-container h1 {
    font-size: 32px;
  }

  .sg-fields {
    width: 100%;
  }

  .input-field {
    width: 100%;
  }

  .input-field label {
    font-size: 16px;
  }

  .sg-fields input {
    height: 50px;
    padding: 0 15px;
    font-size: 15px;
  }

  .sg-container button {
    height: 50px;
    font-size: 18px;
    width: 100%;
  }

  .login {
    font-size: 16px;
  }

  .agree input {
    width: 20px;
    height: 20px;
  }

  .agree label {
    font-size: 16px;
  }
}
