.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.popular h1 {
  color: #171717;
  font-weight: 600;
  text-align: center;
}

.popular hr {
  height: 2px;
  border-radius: 10px;
  background: #252525;
}

.popular-items {
  display: grid;
  margin-top: 50px;
}
.popular-item {
  text-align: center;
}
.popular-item img {
  border-radius: 50%;
}

/* mobile-screen */
@media screen and (max-width: 480px) {
  .popular {
    padding: 0 20px;
  }
  .popular h1 {
    font-size: 15px;
    font-weight: 600;
  }
  .popular hr {
    width: 130px;
    height: 2px;
  }
  .popular-items {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .popular-item img {
    width: 35vw;
  }
}

@media screen and (min-width: 768px) {
  .popular {
    padding: 0 40px;
  }

  .popular h1 {
    font-size: 20px;
  }

  .popular hr {
    width: 180px;
  }
  .popular-items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 70px;
  }
  .popular-item img {
    width: 15vw;
  }
}

@media screen and (min-width: 1024px) {
  .popular-items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }

  .popular h1 {
    font-size: 35px;
  }

  .popular hr {
    width: 300px;
  }
  
}
